.loginbtn {
  width: 100px;
  height: 35px;
  font-size: 15px;
  padding: 8px;
  background: rgba(160, 160, 158, 0.72);
  border: none;
  color: white;
  border-radius: 5px;
  float: left;
  margin-left: 100px;
}
.loginbtn:hover {
  background: rgba(228, 225, 225, 0.678);
}
.newaccountbtn {
  width: 100px;
  height: 35px;
  font-size: 15px;
  padding: 8px;
  background: rgba(160, 160, 158, 0.72);
  border: none;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
}
.newaccountbtn:hover {
  background: rgba(228, 225, 225, 0.678);
}
/* .steam_title {
  float: left;
}
.steam {
  float: left;
} */
.gamersgate_title {
  margin-left: 100px;
  text-align: left;
}
.gamersgate {
  margin-left: 100px;
  text-align: left;
}
.greenmangaming_title {
  margin-left: 100px;
  text-align: left;
}
.greenmangaming {
  margin-left: 100px;
  text-align: left;
}
.dream_title {
  margin-left: 100px;
  text-align: left;
}
.dream {
  margin-left: 100px;
  text-align: left;
}
